<ion-content [fullscreen]="true">
    <ion-grid class="completa">
        <ion-row>
            <ion-col class="envio">
                <ion-button fill="clear" color="dark">A domicilio</ion-button>
                <ion-button fill="clear" color="dark" disabled="false">Para llevar</ion-button>
            </ion-col>
        </ion-row>

        <ion-row class="ordenar">
            <ion-label class="direccion">Ahora</ion-label>
            <ion-select placeholder="Direccion" cancelText="cancelar" okText="seleccionar">
                <ion-select-option value="r">Rio sin agua</ion-select-option>
                <ion-select-option value="d">Desierto seco</ion-select-option>
                <ion-select-option value="f">Flores</ion-select-option>
            </ion-select>
            <button class="opciones">
                <ion-icon name="options-outline"></ion-icon>
            </button>
        </ion-row>
        
        <ion-row class="carousel">
            <ion-title class="titleOf">Ofertas del Día</ion-title>
            <ion-slides #slides pager="true" (ionSlideDidChange)="ionSlideDidChange($event)"
                (ionSlideReachEnd)="ionSlideReachEnd($event)">
                <ion-slide>
                    <a routerLink="/buscar">
                        <img src="../../assets/image/promo1.jpg" class="imgpromo">
                    </a>
                </ion-slide>
                <ion-slide>
                    <a routerLink="/buscar">
                        <img src="../../assets/image/promo2.jpg" class="imgpromo">
                    </a>
                </ion-slide>
                <ion-slide>
                    <a routerLink="/buscar">
                        <img src="../../assets/image/promo3.jpg" class="imgpromo">
                    </a>
                </ion-slide>
            </ion-slides>
        </ion-row>

        <ion-row>
            <ion-card class="contenidoCarta">
                <ion-row class="ordenar">
                    <ion-label class="popular">Populares cerca de ti</ion-label>
                    <ion-select placeholder="Ver más" cancelText="cancelar" okText="seleccionar"
                        [(ngModel)]="valorSeleccionado" (ionChange)="cambiarComida($event)">
                        <ion-select-option value="">Todas</ion-select-option>
                        <ion-select-option *ngFor="let x of categoria" value={{x}}>{{x}}</ion-select-option>
                    </ion-select>
                </ion-row>
                <ion-grid>
                    <ion-row class="separador2">
                        <ion-col size="6" *ngFor="let comida of mostrarComida">
                            <ion-card class="populares">
                                <ion-img src="{{comida.img}}"></ion-img>
                                <p>{{comida.nombre}}</p>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>