<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label class="nous">Nombre de Usuario</ion-label>
  <ion-item>
    <ion-label>Ayuda</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Privacidad</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Centro de seguridad de COVID-19</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Quienes somos</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Preferencias comerciales</ion-label>
  </ion-item>
</ion-content>
