<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/buscar"></ion-back-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="categoria-imagen">
      <ion-col size="6" *ngFor="let comida of mostrarComida">
        <ion-card class="categorias">
          <ion-img src="{{comida.img}}"></ion-img>
          <p>{{comida.nombre}}</p>
          <ion-button color="tertiary" class="boton-agregar" (click)="navegar(comida.id)">Ver Detalle</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
