<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-back-button defaultHref="tabs/buscar"></ion-back-button>
  <ion-grid>
    <ion-row class="categoria-imagen">
      <ion-col size="6" *ngFor="let comida of mostrarComida">
        <ion-card class="categorias">
          <ion-img src="{{comida.Imagen}}"></ion-img>
          <p>{{comida.Nom_prod}}</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
