<ion-header>
  <ion-toolbar>
    <ion-title>Detalle de Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary">
    <h1>Awesome text</h1>
  </ion-text>
  <ion-back-button defaultHref="tabs/productos"></ion-back-button>
  <!-- <ion-grid>
    <ion-row class="">
      <ion-col size="6" *ngFor="let comida of mostrarComida">
        <div>
          <ion-card class="">
            <div>
              <ion-img src="{{comida.img}}"></ion-img>
              <p>{{comida.nombre}}</p>
              <p>{{comida.categoria}}</p>
            </div>
            <ion-button color="tertiary" class="boton-comprar">Comprar Pedido</ion-button>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>