<ion-content [fullscreen]="true">
    <ion-grid class="completa">

        <ion-row class="ordenar">
            <ion-label class="direccion">Ahora</ion-label>
            <ion-select placeholder="Direccion" cancelText="cancelar" okText="seleccionar">
                <ion-select-option value="r">Río sin Agua</ion-select-option>
                <ion-select-option value="d">Desierto Seco</ion-select-option>
                <ion-select-option value="f">Flores sin Polen</ion-select-option>
            </ion-select>
            <button class="opciones">
                <ion-icon name="options-outline"></ion-icon>
            </button>
        </ion-row>
        
        <ion-row class="carousel">
            <ion-title class="titleOf">Ofertas del Día</ion-title>
            <ion-slides #slides pager="true" (click)="navegar(categoria)">
                <ion-slide >
                    <ion-img src="../../assets/image/promos/promo1.jpg" class="imgpromo"></ion-img>
                </ion-slide>
                <ion-slide>
                    <ion-img src="../../assets/image/promos/promo2.jpg" class="imgpromo"></ion-img>
                </ion-slide>
            </ion-slides>
        </ion-row>

        <ion-row>
            <ion-card class="contenidoCarta">
                <ion-row class="ordenar">
                    <ion-label class="popular">Populares cerca de ti</ion-label>
                    <ion-select placeholder="Ver más" cancelText="cancelar" okText="seleccionar"
                        [(ngModel)]="categoriaSeleccionado" (ionChange)="cambiarComida($event)">
                        <ion-select-option value="">Todas</ion-select-option>
                        <ion-select-option *ngFor="let x of categoria" value={{x}}>{{x}}</ion-select-option>
                    </ion-select>
                </ion-row>
                <ion-grid>
                    <ion-row class="separador2">
                        <ion-col size="6" *ngFor="let comidas of mostrarComida" >
                            <ion-card class="populares">
                                <ion-img src="{{comidas.Imagen}}"></ion-img>
                                <p>{{comidas.Nom_prod}}</p>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>