
<ion-content [fullscreen]="true">
  
  <div class="row">

  <div class="col-2"></div>
  <div class="col-2">

    <div id="lbl-carr">
      <ion-label text-center>Tus Pedidos</ion-label>
    </div>

    
    <div>
      <ion-img src="assets/image/2285516.png" id="img-carr"></ion-img>
    </div>


    <div id="lbl-ag" >
      <ion-label>Aún no hay Pedidos</ion-label>
    </div>
  
    <div id="lbl-cu">
      <ion-label>Cuando hagas tu primer pedido, aparecerá aquí </ion-label>
    </div>
    
    <div>
      <ion-button color="dark" id="btn-com">Buscar comida</ion-button>
    </div>

  </div>
  <div class="col-2"></div>

</div>
</ion-content>
