<ion-content [fullscreen]="true">
    <ion-grid class="completa">
        <ion-row class="ion-align-items-center">
            <ion-col size="12">
                <ion-title>
                    <h1 class="titulo-numero">Ingresa tu número de teléfono móvil</h1>
                </ion-title>
                <ion-card-content>
                    <ion-row>
                        <ion-col class="centrar">
                            <ion-select class="select" placeholder="Seleccionar">
                                <ion-select-option value="ch" name="flag-outline">+56</ion-select-option>
                                <ion-select-option value="ar" name="flag-outline">+54</ion-select-option>
                            </ion-select>
                            <ion-input type="text" class="input" placeholder="Ingrese número de teléfono móvil"></ion-input>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-router-link class="button">
                            <ion-col>
                                <button class="button buttonLogin">Continuar</button>
                            </ion-col>
                        </ion-router-link>
                    </ion-row>
                    <hr>O
                    <hr>
                    <ion-row>
                        <ion-col>
                            <button class="button buttonFacebook">Continuar con Facebook</button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <button class="button buttonGoogle">Continuar con Google</button>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-col>
            <ion-col class="registrarse">
                <p>¿No tienes una cuenta?</p>
                 <ionic-router-link class="underline">
                    Registrate aqui
                 </ionic-router-link>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>