<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Explorar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar placeholder="Buscar restaurantes" (ionChange)="traerRestaurante($event)" animated class="bar">
  </ion-searchbar>
  <ion-item>
    <ion-label class="titcat">Restaurantes Principales</ion-label>
  </ion-item>

  <ion-item>
    <ion-segment (ionChange)="filtroRestaurantes($event)" scrollable mode="md" class="filbar">
      <ion-segment-button *ngFor="let categoria of categorias.categoria" value={{categoria}}>
        <ion-label class="ion-text-capitalize">{{categoria}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-item>

  <ion-grid>
    <ion-row class="categoria-imagen">
      <ion-col size="6" *ngFor="let restaurante of mostrarRestaurantes| filtro: datosResturantes">
        <ion-card class="categorias">
          <p>{{restaurante.Nombre_Negocio}}</p>
          <ion-button (click)="navegar(restaurante.idRestaurante)" class="ver" color="tertiary">Ver Más</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>