<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tiendas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="completa">
    <ion-searchbar placeholder="Buscar tiendas y productos" class="searchbar"></ion-searchbar>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-img src="../../assets/image/jumbo.png"></ion-img>
        </ion-card>
        <ion-card>
          <ion-img src="../../assets/image/santa.png"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-img src="../../assets/image/lider.png"></ion-img>
        </ion-card>
        <ion-card>
          <ion-img src="../../assets/image/paris.png"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-title>Express</ion-title>
        <ion-card class="imgspid">
          <ion-img src="../../assets/image/spid.png"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>