
<ion-content [fullscreen]="true">
  
  <div class="row">

  <div class="col-2"></div>
  <div class="col-2">

    <div id="lbl-carr">
      <ion-label>Carritos</ion-label>
    </div>
   
    <div id="div-ped">
      <ion-label id="lbl-ped">Pedidos</ion-label>
      <ion-icon name="clipboard" id="icon-list"></ion-icon>
    </div>
    
    
    <div>
      <ion-img src="assets/image/carrito-de-supermercado.png" id="img-carr"></ion-img>
    </div>

    <div id="lbl-ag" >
      <ion-label>Agrega artículos para comenzar a llenar un carrito</ion-label>
    </div>
  
    <div id="lbl-cu">
      <ion-label>Cuando agregues artículos de un restaurante o negocio, tu carrito aparecerá aquí </ion-label>
    </div>
    
    <div>
      <ion-button color="dark" id="btn-com">Comprar ahora</ion-button>
    </div>

  </div>
  <div class="col-2"></div>

</div>
</ion-content>
