.buscar{
    font-size: 50%;
}


ion-tittle{
    margin: 10px;
}

ion-card-header{
    text-align: center;
    padding: 5px;
    font-weight: 100;
    font-size: 15px;
    width: 130px;
    margin: 10px;

}

ion-card{
    width: 150px;
    height: 130px;
   
    
}

ion-col{
    font-size: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    margin: 0 auto ;
    
}

   





